$clr-purple: #AD1FEA;
$clr-mid-blue: #4661E6;
$clr-light-blue: #62BCFA;
$clr-red: #D73737;
$clr-dark-blue: #373F68;
$clr-orange: #F49F85;
$clr-white: #ffffff;
$clr-light-gray: #F7F8FD;
$clr-mid-gray: #F2F4FF;
$clr-gray: #647196;
$clr-dark-gray: #3A4374;

$fw-reg: 400;
$fw-semi-bold: 600;
$fw-bold: 700;

$transition: 300ms all ease-in;


